*{
    margin: 0;
    color: #550CAE;
}

.head{
    text-align: center;
    background-color: #595959;
    height: 20%;
    width: 100%;
}
.enigme{
   height:70%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
}
.foot{
    background-color: red;
    height: 20%;
    width: 100%;
}
.icones{
    display: flex;
    justify-content: space-between;
    background: #595959;
}

.wh{
    background: #595959;
}
.section2{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
}
#reponse{
background:  #c0c0c0;
width: 90%;
height: 50%;
}
section.enigme{
    background-color: #595959;
}
button.bouton{
    padding: 4px;
    
}
a {
    color: #595959;
    background-color: rgba(85, 12, 174, 0.89);
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
}
a:hover {
    background-color: rgba(85, 12, 174, 0.75);
    box-shadow: 0 0 10px #550cae;
    cursor: pointer;
}
.content {
    display: flex;
    align-items: center;
    gap: 10px;
}