body {
    text-align: center;
    color: #550cae;
}

#title {
    height: 150px;
    width: 400px;
}

#board {
    width: 480px;
    height: 480px;
    background-color: #600cae;
    border: 10px solid #550cae;
    border-radius: 10px;
    box-shadow: 0 0 50px #550cae;

    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid #600cae;
}

h3 {
    color: #020303;
}