*{
    margin: 0;
    /* color: #550CAE; */
}

.head{
    text-align: center;
    background-color: #f5f5f5;
    height: 20%;
    width: 100%;
}

.enigme{
   background-color:white;
   height:70%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;

    
}

.icon{
    background: white;
}

.icones{
    display: flex;
    justify-content: space-between;
    background: white;
}

.wh{
    background: white;
}

/*la zone de reponse*/
.section2{
    width: 100%;
    display: flex;
    justify-content:space-around;
    padding: 40px;
    background-color: #c0c0c0;
    /* background-color: white; */
}


#reponse{
background:  #c0c0c0;
width: 90%;
height: 50%;
}

section.enigme{
    background-color: white;
}
h1{
}

button.bouton{
    padding: 4px;
    
}

.message{
  font-size: 22px;
    color: black;
    
    
}