body {
    background-image: url(../suite_logique/images/chiffres2.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    margin: 10rem 50rem 10rem ;
    border: solid blue 5px;
    }
    
    h1{
    
     color:blue;
     margin: 0rem 1rem;
     
    }
    h2 {
    color:red;
    }

    #false{
        color:red;
        font-weight: bold;
        margin: 0rem 1rem
    }

    #true{
        color:green;
        font-weight: bold;
    }

    #false2{
        color: red;
        font-weight: bold;
        margin: 0rem 1rem
    }
    #true2  {
        color: green;
        font-weight: bold;
    }

    #false3{
        color:red;
        font-weight: bold;
        margin: 0rem 1rem
    }
    #true3{
        color: green;
        font-weight: bold;
    }

  
    h3{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
        font-size:large;
        font-weight: bold;
        font-size: 40px;
    }
    
    #tent{
       margin: 0rem 1rem
    }
    #tent2{
        margin: 0rem 1rem
    }
    #tent3{
        margin: 0rem 1rem
    }
